body
{ margin:0 auto;
  background-color: gainsboro;

}

.container
{
 width: 1000px;
 height:auto;
 background-color:white;
 margin:auto;

}

.searchbar
{
 float:right;
 padding:15px;
  }
 .logoicon
{
	float:left;
	padding:15px;
}
.clearfix
{
  clear:both;
}
.mainmenu
{
	background-color: teal;
}
.mainmenu>ul
{
margin:0px;                                        /*list-style-type: is applying on first unordered list only hierarchy wale li ke andar ki sublist <ul>pe apply ni hoga*/
padding:0px;
list-style-type:none;
}
.mainmenu>ul>li                                    /*display applying on services and not on services 1,2,3 same reason as above*/
{ display:inline-block;
}   
.mainmenu>ul>li>a
{                                                 /*no applying color on anchor tag services1,services2,services3* same reason as above*/
	color:white;
	text-decoration: none;
	display:block;
	padding:15px;
	font-family: sans-serif;
	font-size: small;
}   
.mainmenu>ul>li>a:hover
{
	background-color:orange;
} 
.drop
{
	list-style-type: none;
	margin:0px;
	padding:0px;
	position:absolute;
	display:none;
	z-index:999;
}         
.drop>li>a
{   color:white;
	text-decoration: none;
	display:block;
	padding:15px;
	font-family: sans-serif;
	font-size: small;
	background-color: black;
}    
.drop>li>a:hover
{
  background-color: orange;

} 
.mainmenu>ul>li:hover .drop
{

display:block;

}
.banner
{width:1000px;
 height:498px;
 overflow:hidden;
}
.banner img
{width:100%;
height:498px;
}
.content-holder
{
	background-color: royalblue;
}
.content
{ width:700px;
  height:auto;
  padding:25px;
  background-color: white;
  float:left;

}
.content h1
{font-size: 1.5em;
 font-family:sans-serif;
}
.content p
{ font-family: sans-serif;
	font-size:small;

}
.sidebar
{
	float:left;
	padding:25px;
}
.sidebar h3
{
	font-family: sans-serif;
	color:white;
}
.sidebar ul
{margin:0px;                      
padding:0px;
list-style-type:none;
}
.sidebar ul>li>a                                              
{
	display:block;
	margin-bottom:5px;
	color:white;
	font-family:"serif";
	font-style:italic;
	text-decoration: none;
}
.footer-menu
{
	background-color: black;                     /*footer color not working on anchor because nearest parent ni hai*/
	color:white;
	width:950px;
	height:auto;
	padding:25px;   
	                                           /*both left and right padding*/
}
.footer-box
{
	width:237.5px;
	height:auto;                                 /*parent div hai nearest*/
	float:left;

}
.footer-box>ul
{list-style-type: none;
	margin:0px;
	padding:0px;
}
.footer-box>ul>li>a
{
	display:block;
    margin-bottom:5px;
    font-size:small;
    color:white;
    text-decoration:none;

}
address p
{
	font-size: small;
}
.footer-box address a
{color:teal;

}
.copy
{
	font-family:sans-serif;
	padding:25px;
	text-align:center;
	background-color:crimson;
	color:white;
}
.copy p
{
	margin:0px;
}
.content img
{
	max-width:100%;           /*parent container ki matlab ki content ki width ke hisaab se lega 100%*/
}
.product
{
	width:211.33px;
	height:auto;
	float:left;
	border:1px solid black;
	margin:5px;
	padding:5px;

}
.product-caption p
{
   font-weight:bold;
}
.product-caption del
{
   color:red;
}
.product-caption ins
{
	color:green;
}
.product-caption a
{
	display:block;
	background-color:teal;
	padding:8px;
	text-align:center;
	color:white;
	font-family:sans-serif;
	font-size:small;
	text-decoration: none;
}
.product-caption a:hover
{
	background-color:orange;
}
.banner iframe
{
	width:100%;
	height:498px;
}
.Submit
{
	text-align: center;
	padding:10px;
	margin:10px;
}

input[type=submit]:hover
{
	background-color: orange;
}
input[type=submit]
{
	color:green;
	font-family:sans-serif;
	font-weight:bold;
}
                                   /*border: 10px solid red;*/
/*.product
{
	
	padding:15px;
	margin:15px;
	border:10px solid red;
	font-size:small;
	font-family:sans-serif;
	display:inline-block;
	position:relative;
	right:-650px;
	top:-185px;
	left:620px;

}
.product>a
{
	color:white;
}
.product:hover
{
	background-color: orange;
}
.contact
{
	
	padding:15px;
	margin:15px;
	border:10px solid red;
	font-size:small;
	font-family:sans-serif;
    display:inline-block;
    position:relative;
    right:-700px;
    top:-185px;
    
}
.contact>a
{
	color:white;
}
.contact:hover
{
	background-color: orange;
}
.allservices
{
	position:relative;
	right:-420px;

}*/


/*.mainmenu>ul>li
{ 
margin:30px;
padding: 30px;
border: 20px solid red;
list-style-type:none;
}*/
/*.mainmenu>ul>.servi>ul>li
{
border: 20px solid red;	
}*/
/*.mainmenu>ul>.servi>ul>li
{
display:block;
}*/
